<h1>Rugby Rankings</h1>
<h2>{{ranks!.label!}}</h2>
<p>last updated: {{ranks!.effective!.label!}}</p>
<p-button type="button" (click)="switchRankings()">Switch Rankings</p-button>

<p-date-picker [(ngModel)]="date" [showIcon]="true" (onSelect)="onDateSelect($event)"></p-date-picker>
<p-button type="button" icon="pi pi-times" class="p-button-danger p-button-outlined" (click)="clearDate()"></p-button>

<p-table sortField="pos" [paginator]="true" [rows]="50" [value]="ranks!.entries!">
  <ng-template #header>
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th pSortableColumn="pts" >Points</th>
    </tr>
  </ng-template>
  <ng-template #body let-entry>
    <tr>
      <td>{{ entry.pos }}
        @if (entry.pos < entry.previousPos) {
          <i class="pi pi-arrow-up">{{ entry.previousPos - entry.pos }}</i>
        } @else if (entry.pos > entry.previousPos) {
          <i class="pi pi-arrow-down">{{ entry.pos - entry.previousPos }}</i>
        }
      </td>
      <td>{{ entry!.team!.name }}</td>
      <td>{{ (entry!.pts!).toFixed(2) }}
        @if ((entry.pts - entry.previousPts) !== 0) {
          <i class="pi {{ (entry.pts - entry.previousPts) > 0 ? 'positive': 'negative'}}">{{ (entry.pts - entry.previousPts) > 0 ? "+": ""}}{{ (entry.pts - entry.previousPts).toFixed(2) }}</i>
        }
      </td>
    </tr>
  </ng-template>
</p-table>
